<h2>Athletes</h2>


<table style="margin-top: 20px;">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let athlete of athletes">
    <td>{{ athlete.id }}</td>

    <td>
      <span *ngIf="!athlete.isEditing">{{ athlete.firstName }}</span>
      <input *ngIf="athlete.isEditing" type="text" [(ngModel)]="athlete.firstName">
    </td>

    <td>
      <span *ngIf="!athlete.isEditing">{{ athlete.lastName }}</span>
      <input *ngIf="athlete.isEditing" type="text" [(ngModel)]="athlete.lastName">
    </td>

    <td>
      <span *ngIf="!athlete.isEditing">{{ athlete.gender }}</span>
      <input *ngIf="athlete.isEditing" type="text" [(ngModel)]="athlete.gender">
    </td>
    
    <td>
      <span *ngIf="!athlete.isEditing">{{ athlete.age }}</span>
      <input *ngIf="athlete.isEditing" type="number" [(ngModel)]="athlete.age">
    </td>
    
    <td>
      <button *ngIf="!athlete.isEditing" (click)="editAthlete(athlete)">Edit</button>
      <button *ngIf="athlete.isEditing" (click)="saveAthlete(athlete)">Save</button>
      <button (click)="deleteAthlete(athlete.id)">Delete</button>
    </td>
   
  </tr>
</table>

<button (click)="isAddingAthlete = true" style="margin-top: 20px;">Add New Athlete</button>

<div *ngIf="isAddingAthlete" style="margin-top: 20px;">
  <div class="form-group">
    <input type="text" [(ngModel)]="newAthlete.firstName" placeholder="First Name" required>
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="newAthlete.lastName" placeholder="Last Name" required>
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="newAthlete.gender" placeholder="Gender" required>
  </div>
  <div class="form-group">
    <input type="number" [(ngModel)]="newAthlete.age" placeholder="Age" required>
  </div>
  <button (click)="addAthlete()">Save Athlete</button>
</div>
>
